<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.witkey.live">

    <!-- Required to access Google Play Licensing -->
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!--KSY STREAMING LIB-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_SINTERNETWIFI_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <!--KSY STREAMING LIB-->

    <application
        android:name="app.witkey.live.WitKeyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon_new"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/app_icon_new"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <!--    android:alwaysRetainTaskState="true"
                    android:anyDensity="true"
                    android:launchMode="singleInstance"
                    android:normalScreens="true"
                    android:persistent="false"
                    android:screenOrientation="portrait"
                    android:smallScreens="true"-->

        <activity
            android:name="app.witkey.live.activities.TabActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="app.witkey.live.activities.DrawerActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="app.witkey.live.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="app.witkey.live.activities.LoginOptionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen">

        </activity>

        <activity
            android:name="app.witkey.live.activities.LoginArtisteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="app.witkey.live.activities.LoginUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="app.witkey.live.activities.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="app.witkey.live.activities.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="app.witkey.live.activities.ViewPagers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--android:windowSoftInputMode="adjustNothing"-->
        <activity
            android:name="app.witkey.live.activities.Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="app.witkey.live.activities.GoLiveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name="app.witkey.live.activities.GoLiveStartPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name="app.witkey.live.activities.EventPosterDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name="app.witkey.live.activities.ScanCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name="app.witkey.live.activities.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="app.witkey.live.activities.AuthorizeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="app.witkey.live.fragments.dashboard.profile.BroadcastRankActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="app.witkey.live.services.GiftsDownloadService" />

        <!-- Firebase Notifications -->
        <service android:name="app.witkey.live.utils.firebase.FirebaseMsgService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="app.witkey.live.utils.firebase.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5ab3014a7f535e5e6d619600037ffc8abe0c899e" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />

        <!--FACEBOOK-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <!--FACEBOOK-->

        <!--KSY STREAMING LIB-->
        <activity
            android:name="app.witkey.live.stream.FaceunityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="app.witkey.live.stream.GoLiveStreamActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />
        <!--KSY STREAMING LIB-->

        <!--EXPANSION-->
        <service android:name=".activities.expansion.SampleDownloaderService" />
        <receiver android:name=".activities.expansion.SampleAlarmReceiver" />
        <!--EXPANSION-->

        <!-- UPDATE -->
        <!--Notification-->
        <service android:name="update.NotificationFirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activities.DeepLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="witkeyapp.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>

    </application>

</manifest>